<h3> View Registration Details</h3>
<div>
    <div>
        <label> <b> Id: </b></label> {{registration.id}}
    </div>
    <div>
        <label> <b> First Name: </b></label> {{registration.firstName}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{registration.lastName}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> {{registration.emailId}}
    </div>
    <div>
        <label> <b> Mobile: </b></label> {{registration.mobile}}
    </div>
    <!-- <div>
        <label> <b> Password: </b></label> {{registration.password}}
    </div> -->
    <div>
        <label> <b> Gender: </b></label> {{registration.gender}}
    </div>
</div>